* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffffa3, #ffffffa3);
}

.click-box {
  border: 4px solid black;
  background-color: white;
  width: 20em;
  height: 16em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 1em;
  }
}